body {
	background: #F6F9FC;
	margin: 20px;
}

section {
	max-width: 600px;
	margin: 0 auto;
	column-count: 3;
}

@media (max-width: 400px) {
	section {
		column-count: 2;
	}
}

div img {
	display: block;
	max-width: 100%;
}

div {
	background: white;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
	break-inside: avoid-column;
	overflow: hidden;
}

div p {
	padding: 10px;
	font-family: sans-serif;
	color: #6B7C93;
	font-size: .875em;
	line-height: 1.4em;
}